body {
        background: url('../images/background.jpg') no-repeat center fixed;
        background-size: cover;
        height: 100%;
}
.scrib{
    font-family: 'Montez', cursive;
    font-size: 35px;
    color: blue;

}
.sbh{
    color: black;
    font-family: 'Ubuntu Mono', cursive;
    font-size: 15px;
    margin-top:0px;
}
.right{
    float:right;
}
.signbtns{
    background-color:#0000ff;
    color:white;
    width:90px;
    padding:10px;
    margin:4px;
    border-color:white;
}